<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <p>Symfony 3 Authentication Lab - {{ app_name }}</p>
        <ul>
            <li>Build a Traditional Login Form</li>
            <li>Login from database</li>
            <li>Logout</li>
            <li>Checking to see if a User is Logged</li>
            <li>Hierarchical Roles</li>
            <li>Add "Remember Me" Login Functionality</li>
        </ul>
        <p><strong>Reference:</strong></p>
        <ul>
            <li><a href="http://symfony.com/doc/current/cookbook/security/form_login_setup.html" target="_blank">http://symfony.com/doc/current/cookbook/security/form_login_setup.html</a></li>
            <li><a href="http://symfony.com/doc/current/book/security.html#security-encoding-password" target="_blank">http://symfony.com/doc/current/book/security.html#security-encoding-password</a></li>
            <li><a href="http://symfony.com/doc/current/cookbook/security/remember_me.html" target="_blank">http://symfony.com/doc/current/cookbook/security/remember_me.html</a></li>
            <li><a href="https://knpuniversity.com/screencast/symfony2-ep2/login-form" target="_blank">https://knpuniversity.com/screencast/symfony2-ep2/login-form</a></li>
            <li><a href="http://inchoo.net/dev-talk/symfony2-login-username-e-mail/" target="_blank">http://inchoo.net/dev-talk/symfony2-login-username-e-mail/</a></li>
        </ul>
        <hr/>
        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="link" href="{{ path('logout') }}">Logout [{{ app.user.username }}]</a>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
         | <a class="link" href="{{ path('admin') }}">Admin</a>
        {% endif %}
        <hr/>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
